* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  background-color: rgb(255, 255, 255);
}
.header {
  background-image: url(../img/Jowhareh_galleries_poster_8de2ee9f-b0fb-46d1-b3e1-783a4283a968.jpeg);
  height: 80vh;
  width: 100%;
}
.container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}
.section_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  /* background-color: burlywood; */
  padding: 20px;
  font-size: 15px;
}
.right_nav img {
  height: 150%;
  width: 150%;
}
.left_nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.left_nav a {
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 100%;
  color: #ffffff;
  margin-top: 10px;
}
.left_nav a:hover {
  color: rgb(0, 195, 255);
}
.left_nav img {
  width: 20px;
  height: 100%;
  margin-top: 10px;
}
.center_nav {
  width: 70%;
}
.center_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
.center_nav ul a {
  color: #ffffff;
  font-size: 15px;
}
.center_nav ul a:hover {
  border-top: 2px solid #00c3ff;
}
.main-header {
  width: 60%;
  height: 300px;
  margin-right: 260px;
  margin-top: 100px;
}
.main-header h1 {
  text-align: center;
  color: #ffffff;
}
.main-header h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 35px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -130px;
}
.site-search {
  width: 600px;
  height: 60px;
  border: none;
  border-radius: 30px;
  padding: 12px;
  font-size: 20px;
  position: relative;
}

.btn-search {
  position: absolute;
  border: none;
  background-color: transparent;
  margin-left: -550px;
  color: #00c3ff;
}
.btn-search:hover {
  color: grey;
}

.size-6 {
  width: 30px;
  margin-left: 20px;
  padding-left: -30px;
}
.images {
  display: flex;
  justify-content: center;
}
.img-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 40%;
  height: 150px;
  /* background-color: red; */
}
.text {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 33%;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  /* background-color: yellow; */
}
.text2 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 34%;
  height: 30px;
  /* background-color: yellow; */
  font-size: 20px;
  /* font-weight: 60px; */
  color: #ffffff;
}
.main-page .main-menu ul li {
  display: inline-block;
  margin: 4px;
  position: relative;
}
.main-page {
  display: flex;
  background-color: #fafafa;
  box-shadow: 0 0 8px #727272;
}
.main-page .main-menu ul li a {
  display: inline-block;
  padding: 15px 8px;
  color: black;
  /* list-style-type: circle; */
}
.main-page .main-menu ul li a:hover {
  color: #00c3ff;
}
.main-page .main-menu ul li ul {
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  border-radius: 12px;
}
.main-page .main-menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.main-page .main-menu ul li ul li {
  display: block;
}
.main-page .main-menu ul li ul li a {
  color: black;
  font-size: 19px;
  padding: 10px 5px;
}
.flex {
  display: flex;
}
.star {
  margin-top: 20px;
  margin-right: 380px;
}

.star a {
  display: flex;
  justify-content: flex-end;
  color: #00c3ff;
  font-size: 15px;
}
.star img {
  width: 40px;
  margin-top: -12px;
}
.image-slider {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-slider img {
  width: 95%;
  border-radius: 20px;
}
.The-last-course {
  position: relative;
  margin-top: 60px;
  /* display: flex; */
}
.h2 {
  /* margin-top: 80px; */
  font-size: 24px;
  padding-right: 140px;
  color: #000000;
  font-weight: 500px;
}
.header-h2 {
  display: flex;
  justify-content: space-between;
}
.header-h2::before {
  position: absolute;
  width: 110px;
  height: 8px;
  background-color: #bbe7f5;
  right: 0;
  top: 8px;
  content: "";
  border-radius: 10px;
}
.header-h2::after {
  position: absolute;
  width: 40px;
  height: 8px;
  background-color: #00c3ff;
  right: 68px;
  top: 8px;
  content: "";
  border-radius: 10px;
}

.h2-left a {
  margin-left: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 20px;
}
.h2-left a:hover {
  color: #00c3ff;
}
.h2-left img {
  padding: 5px;
}
.tag-a-title {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tag-a-title a {
  margin-right: 68px;
}
.tag-a-title a:hover {
  color: #00c3ff;
}
.tag-a-title::after {
  position: absolute;
  width: 145px;
  height: 3px;
  background-color: #00c3ff;
  right: 68px;
  top: 22px;
  content: "";
  border-radius: 10px;
}
.cards {
  /* background-color: blueviolet; */
  height: 500px;
}
.row1 {
  height: 350px;
  /* background-color: darkblue; */
  width: 100%;
  display: flex;
}
.card1 {
  width: 23%;
  height: 350px;
  background-color: #f1f1f1;
  margin-right: 22px;
  box-shadow: -1px 4px 1px #c2c2c2;
}
.card1 img {
  height: 210px;
  width: 100%;
}
.card1 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
}
.card1 h3:hover {
  color: #00c3ff;
}
.time-and-name {
  margin-right: 8px;
}
.name {
  display: flex;
  height: 30px;
  width: 292px;
  border-bottom: 2px solid #d3d3d3;
  /* color: #727272; */
  /* background-color: rebeccapurple; */
}
.name a {
  color: #727272;
}
.name a:hover {
  color: #19c502;
}
.name img {
  width: 15px;
  height: 15px;
  margin-left: 6px;
}
.time {
  padding: 7px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}
.time1 {
  color: #00c3ff;
}
.time2 {
  color: #19c502;
}
